@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(30, 28, 39);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.git-container{
    background-color: rgb(49, 45, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    width: 400px;
    height: 300px;
}

.another-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

button{
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: rgb(70, 57, 134);
    color: white;
}

input{
    height: 30px;
    border-radius: 7px;
    outline: none;
    border: none;
}

#error{
    background-color: rgb(219, 76, 76);
    color: rgb(170, 16, 16);
    border-radius: 5px;
    margin-top: 10px;
    width: 380px;
    text-align: center;
}